.eric6project/
.eric7project/
.ropeproject/
.jedi/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
doc_build/doctrees/base.doctree
doc_build/doctrees/driver.doctree
doc_build/doctrees/ds1000.doctree
doc_build/doctrees/environment.pickle
doc_build/doctrees/index.doctree
doc_build/html/.buildinfo
doc_build/html/.nojekyll
doc_build/html/_modules/base.html
doc_build/html/_modules/driver.html
doc_build/html/_modules/DS1000.html
doc_build/html/_modules/index.html
doc_build/html/_sources/base.rst.txt
doc_build/html/_sources/driver.rst.txt
doc_build/html/_sources/ds1000.rst.txt
doc_build/html/_sources/index.rst.txt
doc_build/html/_static/basic.css
doc_build/html/_static/css/badge_only.css
doc_build/html/_static/css/fonts/fontawesome-webfont.eot
doc_build/html/_static/css/fonts/fontawesome-webfont.svg
doc_build/html/_static/css/fonts/fontawesome-webfont.ttf
doc_build/html/_static/css/fonts/fontawesome-webfont.woff
doc_build/html/_static/css/fonts/fontawesome-webfont.woff2
doc_build/html/_static/css/fonts/lato-bold-italic.woff
doc_build/html/_static/css/fonts/lato-bold-italic.woff2
doc_build/html/_static/css/fonts/lato-bold.woff
doc_build/html/_static/css/fonts/lato-bold.woff2
doc_build/html/_static/css/fonts/lato-normal-italic.woff
doc_build/html/_static/css/fonts/lato-normal-italic.woff2
doc_build/html/_static/css/fonts/lato-normal.woff
doc_build/html/_static/css/fonts/lato-normal.woff2
doc_build/html/_static/css/fonts/Roboto-Slab-Bold.woff
doc_build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
doc_build/html/_static/css/fonts/Roboto-Slab-Regular.woff
doc_build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
doc_build/html/_static/css/theme.css
doc_build/html/_static/doctools.js
doc_build/html/_static/documentation_options.js
doc_build/html/_static/file.png
doc_build/html/_static/jquery-3.5.1.js
doc_build/html/_static/jquery.js
doc_build/html/_static/js/badge_only.js
doc_build/html/_static/js/html5shiv-printshiv.min.js
doc_build/html/_static/js/html5shiv.min.js
doc_build/html/_static/js/theme.js
doc_build/html/_static/language_data.js
doc_build/html/_static/minus.png
doc_build/html/_static/plus.png
doc_build/html/_static/pygments.css
doc_build/html/_static/searchtools.js
doc_build/html/_static/underscore-1.13.1.js
doc_build/html/_static/underscore.js
doc_build/html/base.html
doc_build/html/driver.html
doc_build/html/ds1000.html
doc_build/html/genindex.html
doc_build/html/index.html
doc_build/html/objects.inv
doc_build/html/py-modindex.html
doc_build/html/search.html
doc_build/html/searchindex.js
build/lib/RigolDS1000Z/__init__.py
build/lib/RigolDS1000Z/base.py
build/lib/RigolDS1000Z/driver.py
build/lib/RigolDS1000Z/DS1000.py
build/lib/RigolDS1000Z/readme.rst
dist/RigolDS1000Z-0.9.0-py3.10.egg
RigolDS1000Z.egg-info/dependency_links.txt
RigolDS1000Z.egg-info/PKG-INFO
RigolDS1000Z.egg-info/requires.txt
RigolDS1000Z.egg-info/SOURCES.txt
RigolDS1000Z.egg-info/top_level.txt
